.landingPage{
    text-align: center;
}
.landingStatement{
    font-size: xx-large;
    margin: 100px;
}
.input-group{
    width: 600px;
    margin-left: 200px;
    padding: 30px;
}
.container{
    background-color: rgb(202, 211, 172);
    height: 250px;
}